body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  ul.header li active {
    background-color: #FFF;
    color: black;
  }
  ul.header li a:hover {
    background-color: #FFF;
    color: black;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .actionButton{
    margin-right: 20px;
  }
  .actionButton:hover{
    color: black;
  }
  
  html{
    margin:0px !important;
    padding: 0px !important;
  }
  body{
    margin:0px !important;
    padding-right: 0px !important;
  }
  .swal2-container{
    overflow-y: auto !important;
  }
  .swal2-shown{
    overflow-y: auto !important;
  }